<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
 	<display-name>scimproxy</display-name>
 	
 	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/v1/User/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Users</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Users</servlet-name>
		<url-pattern>/v1/Users</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Users</servlet-name>
		<url-pattern>/v1/Users.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Users</servlet-name>
		<url-pattern>/v1/Users.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Group</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Group</servlet-name>
		<url-pattern>/v1/Group/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Groups</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimGroupsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Groups</servlet-name>
		<url-pattern>/v1/Groups</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Groups</servlet-name>
		<url-pattern>/v1/Groups.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Groups</servlet-name>
		<url-pattern>/v1/Groups.json</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Schema</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimSchemaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Schema</servlet-name>
		<url-pattern>/v1/Schema/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Schemas</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimSchemasServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Schemas</servlet-name>
		<url-pattern>/v1/Schemas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Schemas</servlet-name>
		<url-pattern>/v1/Schemas.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Schemas</servlet-name>
		<url-pattern>/v1/Schemas.xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServiceProviderConfig</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimServiceProviderConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceProviderConfig</servlet-name>
		<url-pattern>/v1/ServiceProviderConfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceProviderConfig</servlet-name>
		<url-pattern>/v1/ServiceProviderConfig.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceProviderConfig</servlet-name>
		<url-pattern>/v1/ServiceProviderConfig.xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Bulk</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimBulkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bulk</servlet-name>
		<url-pattern>/v1/Bulk</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bulk</servlet-name>
		<url-pattern>/v1/Bulk.xml</url-pattern>
	</servlet-mapping>



	
	<servlet>
		<servlet-name>AuthorizationServer</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimAuthorizationServer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthorizationServer</servlet-name>
		<url-pattern>/AuthorizationServer/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.AddUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/AddUser</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>MethodOverrideFilter</filter-name>
		<filter-class>info.simplecloud.scimproxy.filter.MethodOverrideFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MethodOverrideFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
 

	<servlet>
		<servlet-name>List2</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version2.List</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>List2</servlet-name>
		<url-pattern>/Viewer2/List</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Add2</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version2.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add2</servlet-name>
		<url-pattern>/Viewer2/Add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Delete2</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version2.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete2</servlet-name>
		<url-pattern>/Viewer2/Delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Edit2</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version2.Edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit2</servlet-name>
		<url-pattern>/Viewer2/Edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ViewerConfiguration2</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version2.Configuration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewerConfiguration2</servlet-name>
		<url-pattern>/Viewer2/Configuration</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewerBulk2</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version2.Bulk</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewerBulk2</servlet-name>
		<url-pattern>/Viewer2/Bulk</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewerAuthenticate2</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version2.Authenticate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewerAuthenticate2</servlet-name>
		<url-pattern>/Viewer2/Authenticate/*</url-pattern>
	</servlet-mapping> 
	
	
	
	<servlet>
		<servlet-name>ViewerConfiguration</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.Configuration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewerConfiguration</servlet-name>
		<url-pattern>/Viewer/Configuration</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ViewerBulk</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.Bulk</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewerBulk</servlet-name>
		<url-pattern>/Viewer/Bulk</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>List</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.List</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>List</servlet-name>
		<url-pattern>/Viewer/List</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/Viewer/Add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Edit</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.Edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/Viewer/Edit</url-pattern>
	</servlet-mapping>

</web-app>
