<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 
<web-app>
 	<display-name>scimproxy</display-name>
 	
 	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>Users</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Users</servlet-name>
		<url-pattern>/v1/Users</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Users</servlet-name>
		<url-pattern>/v1/Users/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Groups</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Groups</servlet-name>
		<url-pattern>/v1/Groups</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Groups</servlet-name>
		<url-pattern>/v1/Groups/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Schema</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimSchemaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Schema</servlet-name>
		<url-pattern>/v1/Schemas/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Schemas</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimSchemasServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Schemas</servlet-name>
		<url-pattern>/v1/Schemas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Schemas</servlet-name>
		<url-pattern>/v1/Schemas.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Schemas</servlet-name>
		<url-pattern>/v1/Schemas.xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServiceProviderConfig</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimServiceProviderConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceProviderConfig</servlet-name>
		<url-pattern>/v1/ServiceProviderConfigs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceProviderConfig</servlet-name>
		<url-pattern>/v1/ServiceProviderConfigs.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceProviderConfig</servlet-name>
		<url-pattern>/v1/ServiceProviderConfigs.xml</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Bulk</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimBulkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bulk</servlet-name>
		<url-pattern>/v1/Bulk</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bulk</servlet-name>
		<url-pattern>/v1/Bulk.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bulk</servlet-name>
		<url-pattern>/v1/Bulk.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Compliance</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>info.simplecloud.scimproxy.compliance</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Compliance</servlet-name>
		<url-pattern>/compliance/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AuthorizationServer</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimAuthorizationServer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthorizationServer</servlet-name>
		<url-pattern>/AuthorizationServer/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Bind</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.ScimUserBind</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bind</servlet-name>
		<url-pattern>/Bind/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>MethodOverrideFilter</filter-name>
		<filter-class>info.simplecloud.scimproxy.filter.MethodOverrideFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MethodOverrideFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
 

	<servlet>
		<servlet-name>List</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version.List</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>List</servlet-name>
		<url-pattern>/Viewer/List</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/Viewer/Add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/Viewer/Delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Edit</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version.Edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/Viewer/Edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ViewerConfiguration</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version.Configuration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewerConfiguration</servlet-name>
		<url-pattern>/Viewer/Configuration</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewerBulk</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version.Bulk</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewerBulk</servlet-name>
		<url-pattern>/Viewer/Bulk</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewerCompliance</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version.Compliance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewerCompliance</servlet-name>
		<url-pattern>/Viewer/Compliance</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewerAuthenticate</servlet-name>
		<servlet-class>info.simplecloud.scimproxy.viewer.version.Authenticate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewerAuthenticate</servlet-name>
		<url-pattern>/Viewer/Authenticate/*</url-pattern>
	</servlet-mapping> 
	
</web-app>
