#httpHeaders
{
	visibility:hidden;
}

#container
{
	margin: 0 auto;
	width: 1000px;
	background:#fff;
}

#header
{
	background:#ccc;
	padding: 20px;
}

#header h1 
{ 
	margin: 0; 
}

#navigation
{
	float: left;
	width: 1000px;
	background:#333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color:#fff;
	text-decoration: none;
	border-right: 1px solid#fff;
}

#navigation li a:hover { background:#383; }

#content
{
	clear: left;
	padding: 20px;
	width: 1000px;
}

#content h2
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background:#ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}


table
{
	border-collapse:collapse;
}

table.list th, table.list td 
{
	font-size : small;
	border: 1px solid black;
	vertical-align:top;
}

div.section
{
	display: none;
}

input.textInput
{
	width: 200px;
}

td.left 
{
	width: 180px;
	vertical-align: top;
}
td.bottomRight
{
	text-align: right;
}

select
{
	width: 200px;	
}

pre.full
{
	width: 800px;
	border-style: dashed;
	border-width: 1px;
}

pre.table
{
	width: 650px;
	border-style: dashed;
	border-width: 1px;
}

td.alignTop
{
	vertical-align: top;
	padding: 15px;
}

td.alignTop
{
	vertical-align: top;
	padding: 15px;
}

tr.list
{
	border-top-style: solid;
	border-top-width: 2px;
}

textarea.table
{
	width: 650px;
	min-height: 200px;
}

.arrow-n,
.arrow-e,
.arrow-s,
.arrow-w {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 100px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-n {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #666;
  bottom: 0.25em;
}

.arrow-e {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #666;
  left: 0.25em;
}
                    
.arrow-s {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
  top: 0.25em;
}

.arrow-w {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #666;
  right: 0.25em;
}