<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<server>
		<url>http://localhost</url>
		<port>8080</port>
		<version>v1</version>
		<preferedEncoding>JSON</preferedEncoding>
	</server>
	<users>
		<user>
			<username>usr</username>
			<password>pw</password>
		</user>
		<user>
			<username>usr3</username>
			<password>pw</password>
		</user>
	</users>
	<auth>
		<method>
			<type>oauth2</type>
		</method>
		<method>
			<type>oauth2v10</type>
		</method>
		<method>
			<type>basic</type>
		</method>
	</auth>
	<storages>
		<storage>
			<type>dummy</type>
		</storage>
	</storages>
	<bulk>
		<maxOperations>1000</maxOperations>
		<maxPayloadSize>1048576</maxPayloadSize>
	</bulk>
	<down-stream> 
		<csp>
     		<url>http://107.20.133.41:8080</url>
     		<preferedEncoding>JSON</preferedEncoding> 
     		<version>v1</version>
     		<auth type="basic">
				<username>usr</username>
				<password>pw</password>
			</auth>
		</csp>
		<csp>
     		<url>http://107.20.133.41:8080</url>
     		<preferedEncoding>JSON</preferedEncoding> 
     		<version>v1</version>
     		<auth type="oauth2">
				<accessToken>132123121212</accessToken>
			</auth>
		</csp>
		<csp>
     		<url>http://107.20.133.41:8080</url>
     		<preferedEncoding>XML</preferedEncoding> 
     		<version>v1</version>
     		<auth type="oauth2-v10">
				<username>erwah</username>
				<password>qwerty</password>
			</auth>
		</csp>
	</down-stream>
</config>