<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<server>
		<url>http://localhost</url>
		<port>8080</port>
		<version></version>
	</server>
	<auth type="basic">
		<user>
			<username>usr</username>
			<password>pw</password>
		</user>
		<user>
			<username>usr3</username>
			<password>pw</password>
		</user>
	</auth>
	<storages>
		<storage>
			<type>dummy</type>
		</storage>
	</storages>
	<bulk>
		<maxOperations>1000</maxOperations>
		<maxPayloadSize>10000000</maxPayloadSize>
	</bulk>
	<down-stream> 
		<csp>
     		<url>http://107.20.133.41:8080</url>
     		<preferedEncoding>JSON</preferedEncoding> 
     		<version>v1</version>
     		<auth type="basic">
				<username>usr</username>
				<password>pw</password>
			</auth>
		</csp>
	</down-stream>
</config>