<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<auth type="basic">
		<user>
			<username>usr</username>
			<password>pw</password>
		</user>
		<user>
			<username>usr3</username>
			<password>pw</password>
		</user>
	</auth>
	<storages>
		<storage>
			<type>dummy</type>
		</storage>
	</storages>
</config>